@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


.tick {

margin: 0 auto;
text-align: center;



}

.text {


    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: larger;
    
}

.countDown {


    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: smaller;
    padding: 5%;
    
}